<h1>Hello {{ name }} votre id est {{ id }}</h1>

<h2>Bonjour {{ person.firstName }} {{ person.name }}</h2>
<h2>Votre score est {{ scores[0] }}</h2>

<h2>voulez-vous acheter mon {{ prod.name }} au prix délirant de {{ prod.price }} euros</h2>